/*Normalizacion*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/*Header*/
.flexHeader{
    background-image: url(img/portadaAlquimista.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}
.capaHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-flow: column nowrap;
}
/*AGREGAMOS STYLE DE MENU*/

button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    background-color: #d18425;
    border-radius: 10px;
    z-index: 1;
}

button > img {
    filter: invert(100%);
    width: 2rem;
}

.hidden {
    display: none;
}

#menu {
    background-color: #333333de;
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
    position: absolute;
    margin: 6rem 1rem;
    z-index: 1;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}
/*HASTA ACA*/

/*Transicion*/

#menu .hidden {
    transition: height 0.6s ease; /* Cambia la velocidad aquí */
}


button img {
    transition: transform 0.6s ease; /* Cambia la velocidad aquí */
}

button img.rotated {
    transform: rotate(360deg);
}


#menu .transition {
    transition-property:all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
  }

.navBar{
    display: flex;
    flex-flow: column nowrap;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.imgLogo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgLogo > img{
    width: 30vw;
}
.flexNav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;

}

.navHeader{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navItem {
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.navHeader > li {
    width: 20%;
    font-weight: 700;
}

li > a:hover {
    color: #d18425;
}
li:hover{
    color: #d18425;
}
.contenedor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    padding-bottom: 10rem;
}
h1{
    position: absolute;
    font-size: 40px;
    font-weight: 200;
    color: white;
    display: flex;
}
.contenedorFlecha{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    padding-bottom: 1rem;
}
.flechaIcon{
    width: 40px;
    height: auto;
    filter: invert(100%);
}

/*Main*/
main {
    display: flex;
    flex-flow: column nowrap;
}

  
.nosotros{
    height: 100vh;
    width: 100%;
    padding: 5rem;
    text-align: center;
    background-color: #fbe2c4;
}

.nosotros > h2{
    font-size: 4rem;
    margin-bottom: 4rem;
}
.nosotros > p{
    font-size: 1.3rem;
    padding: 2rem;
    font-weight: 200;
}
.textoResaltado{
    font-weight: 700;
}
.flexSection {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fbe2c4, white);
    align-items: center;
    justify-content: center;
    gap: 4rem;
}


.div1{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 40vw;

}
.cardIcon{
    background-color:#d18425;
    padding: 1rem;
    border-radius: 100px;
    position: absolute;
}
.cardIcon > img{
    width: 8rem;
    height: auto;
}
.flexCard {
    display: flex;
    flex-flow: column nowrap;
    padding: 6rem 0rem 1rem 0rem;/* top | right | bottom | left */
    margin: 6rem 0rem 1rem 0rem;
    background-color: #82483e8f;
    align-items: center;
    justify-content: center;
    height: 50%;
}


.flexCard > div{
    background-color: #d18425;
    border-radius: 50px;
}
.flexCard > h2{
    color: white;
    font-size: 2rem;
    padding: 1rem;
}
.flexCard > p{
    display: flex;
    flex-flow: row nowrap;
    color: white;
    padding: 2rem 2rem 3rem 4rem;
    font-size: 1.4rem;
    font-weight: 400;
}

/*Contacto*/
.redes{
    position: relative;
    display: flex;
    width: 100%;
    height: 92.5vh;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.contacto{
    position: absolute; /* Posiciona el div de contacto absolutamente encima del slider */
    z-index: 2; /* Coloca el div de contacto encima del slider */
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.contacto > h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px 1px;
}
.redes > a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.instagramIcon{
    display: flex;
    filter: invert(100%);
    width: 10rem;
    height: auto;
}
/*Carrousel de imagenes*/
.slider{
    position: relative;
    width: auto;
    height: 80%;
    overflow: hidden;
    margin: 4rem;
    z-index: 1;
}
.slider > ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}
.slider > ul > li{
    list-style: none;
    width: 100%;
}
.slider > ul > li > img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0;}
    15%{margin-left: 0;}

    20%{margin-left: -100%;}
    40%{margin-left: -100%;}

    45%{margin-left: -200%;}
    65%{margin-left: -200%;}

    70%{margin-left: -300%;}
    90%{margin-left: -300%;}

    95%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*Boton Whatsapp flotante*/
.whatsapp-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
  }
  
  .whatsapp-button img {
    position: fixed;
    filter: invert();
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e;
  }



/*Footer*/
.flexFooter{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    bottom: 0;
}
.masterDev{
    list-style: none;
}

@media (max-width: 767px) {
    .imgLogo{
        width: 90vw;
    }
    .imgLogo > img{
        width: 100%;
    }
    .navHeader{
        flex-flow: column nowrap;
        align-items: center;
    }
    .navItem {
        padding: 0.5rem;
    }
    h1{
        text-align: center;
    }
    /*Main*/
    main {
        display: flex;
        flex-flow: column nowrap;
    }
    
      
    .nosotros{
        display: flex;
        flex-flow: column nowrap;
        height: 100vh;
        width: 100%;
        padding: 0;
        text-align: center;
        background-color: #fbe2c4;
        justify-content: center;
    }
    
    .nosotros > h2{
        font-size: 2.4rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .nosotros > p{
        font-size: 1rem;
    }
    .flexSection {
        flex-flow: column nowrap;
        height: 100%;
        padding-top: 1rem;
    }
    .div1{
        width: 100%;
        padding: 1rem;
    }
    /*Contacto*/
    .redes{
        position: relative;
        display: flex;
        width: 100%;
        height: 92.5vh;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .contacto{
        align-items: center;
        gap: 10rem;
    }
    
    .contacto > h3{
        color: black;
        text-shadow: none;
        text-align: center;
        position: absolute;
        bottom: 2rem;
    }
    .instagramIcon{
        filter: none;
        width: 5rem;
    }
    /*Carrousel de imagenes*/
    .slider{
        width: 100%;
        height: auto;
        margin: 0rem;
    }
    /*Boton Whatsapp flotante*/
    .whatsapp-button {
        bottom: 20px;
        right: 20px;
      }
      .whatsapp-button img {
        bottom: 30px;
        right: 30px;
      }
  }