/*Normalizacion*/
* {
    margin: 0;
    padding: 0;
    /*border: solid red 1px;*/
    font-family: 'Lato', sans-serif; 
}

/*Header*/
.flexHeader{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    background-image: url("img/logo-01.png");
    background-size:100% auto;
    position: sticky;   
    top: 0; 
    line-break: 0;
    height: 121px;
    width: 100%;
    margin-top: 1%;
}
.flexMain{
    background-image: url("img/lineas-01.png");
    background-size:100% auto;
    background-repeat:  round;
}
.flexDivHeader{
    width: 100%;
    margin-top: 1%;
}
.flexDivHeader > h1{
    font-size: 3.5vw;
    justify-content: center;
}
.navHeader{
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    justify-content:right;
    width: 75%;
    margin-left: 25%;
}
.navHeader > li {
    width: 28%;
}
.navItem {
    text-decoration: none;
    color: #c44545;
    padding: 0.5rem;
}
.navItem{
    display: block;
    color: #fff;
    text-decoration: none;
}

li > a:hover {
    background-color: #fff;
    color: #000;
}
li:hover{
    background-color: #fff;
}


/*Main*/


/*Footer*/
.flexFooter{
    display: flex;
    flex-flow: row nowrap;
}